{% extends "layout.html" %}
{% block content %}
{#    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">#}
        {% for i in range(3) %}
            <div class="card-deck">
                <div class="card text-center" style="width: 18rem;">
                  <img src="{{ films[3 * i].poster_path }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ films[3 * i].title }}</h5>
                    <p class="card-text">Popularity: {{ films[3 * i].popularity }}</p>
                    <p class="card-text">Your vote:</p>
                      <form name="ratingForm" method="POST" action="">
                          <input type="number" name="rating" step="0.5" min="0.0" max="5.0" value="5.0" />
                          <input class="btn btn-primary" type="submit" value="Vote">
                          <input hidden type="text" name="movie_key" value={{ films[3 * i].movie_key }} />
                      </form>
                  </div>
                </div>
                 <div class="card text-center" style="width: 18rem;">
                  <img src="{{ films[3 * i + 1].poster_path }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ films[3 * i + 1].title }}</h5>
                    <p class="card-text">Popularity: {{ films[3 * i + 1].popularity }}</p>
                    <p class="card-text">Your vote:</p>
                      <form name="ratingForm" method="POST" action="">
                          <input type="number" name="rating" step="0.5" min="0.0" max="5.0" value="5.0" />
                          <input class="btn btn-primary" type="submit" value="Vote">
                          <input hidden type="text" name="movie_key" value={{ films[3 * i + 1].movie_key }} />
                      </form>
                  </div>
                </div>
                 <div class="card text-center" style="width: 18rem;">
                  <img src="{{ films[3 * i + 2].poster_path }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ films[3 * i + 2].title }}</h5>
                    <p class="card-text">Popularity: {{ films[3 * i + 2].popularity }}</p>
                    <p class="card-text">Your vote:</p>
                      <form name="ratingForm" method="POST" action="">
                          <input type="number" name="rating" step="0.5" min="0.0" max="5.0" value="5.0" />
                          <input class="btn btn-primary" type="submit" value="Vote">
                          <input hidden type="text" name="movie_key" value={{ films[3 * i + 2].movie_key }} />
                      </form>
                  </div>
                </div>
            </div>
        {% endfor %}
{% endblock content %}