{% extends "layout.html" %}
{% block content %}
    {% if films %}
        {% for i in range(deck_amount) %}
            <div class='row'>
                {% if 3 * i < amount %}
                    <div class="card text-center col-lg-3" style="width: 18rem; margin: 30px;">
                      <img src="{{ films[3 * i].poster_path }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ films[3 * i].title }}</h5>
                        <p class="card-text">Popularity: {{ films[3 * i].popularity }}</p>
                        <p class="card-text">Your rating: {{ films[3 * i].user_rating }}</p>
                          <form name="ratingForm" method="POST" action="">
                              <input type="number" name="rating" step="0.5" min="0.0" max="5.0" value="5.0" />
                              <input class="btn btn-primary" type="submit" value="Change your vote">
                              <input hidden type="text" name="movie_key" value={{ films[3 * i].movie_key }} />
                          </form>
                      </div>
                    </div>
                {% endif %}
                {% if 3 * i + 1 < amount %}
                    <div class="card text-center col-lg-3" style="width: 18rem; margin: 30px">
                      <img src="{{ films[3 * i + 1].poster_path }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ films[3 * i + 1].title }}</h5>
                        <p class="card-text">Popularity: {{ films[3 * i + 1].popularity }}</p>
                        <p class="card-text">Your rating: {{ films[3 * i + 1].user_rating }}</p>
                          <form name="ratingForm" method="POST" action="">
                              <input type="number" name="rating" step="0.5" min="0.0" max="5.0" value="5.0" />
                              <input class="btn btn-primary" type="submit" value="Change your vote">
                              <input hidden type="text" name="movie_key" value={{ films[3 * i + 1].movie_key }} />
                          </form>
                      </div>
                    </div>
                {% endif %}
                {% if 3 * i + 2 < amount %}
                    <div class="card text-center col-lg-3" style="width: 18rem; margin: 30px">
                      <img src="{{ films[3 * i + 2].poster_path }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ films[3 * i + 2].title }}</h5>
                        <p class="card-text">Popularity: {{ films[3 * i + 2].popularity }}</p>
                        <p class="card-text">Your rating: {{ films[3 * i + 2].user_rating }}</p>
                          <form name="ratingForm" method="POST" action="">
                              <input type="number" name="rating" step="0.5" min="0.0" max="5.0" value="5.0" />
                              <input class="btn btn-primary" type="submit" value="Change your vote">
                              <input hidden type="text" name="movie_key" value={{ films[3 * i + 2].movie_key }} />
                          </form>
                      </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="jumbotron">
            <h1 class="display-4">Ooops! Nothing to display...</h1>
            <p class="lead">Our system needs you to rate at least couple films. Then you will see them at this page.</p>
            <hr class="my-4">
            <p>To start getting recommendations or see your list of rated films you need rate some films!</p>
            <a class="btn btn-primary btn-lg" href="/home" role="button">Rate some films now!</a>
        </div>
    {% endif %}
{% endblock content %}