{% extends "layout_rec.html" %}
{% block content %}
    <h2 style="padding-left: 15px">People with similar taste also liked:</h2>
    {% if films %}
        {% for i in range(deck_amount) %}
            <div class='row'>
                {% if 3 * i < amount %}
                    <div class="card text-center col-lg-3" style="width: 18rem; margin: 30px;">
                      <img src="{{ films[3 * i].poster_path }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ films[3 * i].title }}</h5>
                        <p class="card-text">Popularity: {{ films[3 * i].popularity }}</p>
                        <p class="card-text">Vote count: {{ films[3 * i].vote_count }}</p>
                      </div>
                    </div>
                {% endif %}
                {% if 3 * i + 1 < amount %}
                    <div class="card text-center col-lg-3" style="width: 18rem; margin: 30px">
                      <img src="{{ films[3 * i + 1].poster_path }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ films[3 * i + 1].title }}</h5>
                        <p class="card-text">Popularity: {{ films[3 * i + 1].popularity }}</p>
                        <p class="card-text">Vote count: {{ films[3 * i + 1].vote_count }}</p>
                      </div>
                    </div>
                {% endif %}
                {% if 3 * i + 2 < amount %}
                    <div class="card text-center col-lg-3" style="width: 18rem; margin: 30px">
                      <img src="{{ films[3 * i + 2].poster_path }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ films[3 * i + 2].title }}</h5>
                        <p class="card-text">Popularity: {{ films[3 * i + 2].popularity }}</p>
                        <p class="card-text">Vote count: {{ films[3 * i + 2].vote_count }}</p>
                      </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="jumbotron">
            <h1 class="display-4">Ooops! Nothing to display...</h1>
            <p class="lead">Our system needs you to rate at least couple films. Then you will see recommendations at this page.</p>
            <hr class="my-4">
            <p>To start getting recommendations you need rate some films!</p>
            <a class="btn btn-primary btn-lg" href="/home" role="button">Rate some films now!</a>
        </div>
    {% endif %}
{% endblock content %}